body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .mealContainer {
    border: 2px solid grey;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
  
  .mealContainer img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  img {
    border-radius: 10px;
  }